
.TablePanel {
  float: left;
  margin: 6px;
  min-width: 320px;
}

.TablePanel .TablePanel-container {
  border: 2px solid;
  overflow: auto;
}

.TablePanel .TablePanel-container table {
  width: calc(100% - 8px);
  margin: 4px;
}

.TablePanel-configButton {
  margin: 4px;
}

.TablePanel-widthLable {
  float: right;
  margin: 4px;
}
