
.WormTable {
  float: left;
  margin: 6px;
}

.WormTable .WormTable-container {
  border: 2px solid;
  overflow: auto;
}

.WormTable .WormTable-container table {
  width: calc(100% - 8px);
  margin: 4px;
}

.WormTable-widthLable {
  float: right;
  margin: 4px;
}
